# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# Environment files
/backend/.env
/ella-vate-frontend/.env.local

# Backend specific files
/backend/uploads/
/backend/debug-env.js
/backend/env-trace.js
/backend/pinecone-troubleshoot.js
/backend/test-pinecone.js

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*